.twilio-chat-section {
  position: fixed;
  right: 5px;
  bottom: 16px;
  z-index: 5555555;
  background: #71271c; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #71271c 0%, #7c362e 47%, #a53829 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #71271c 0%,#7c362e 47%,#a53829 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #71271c 0%,#7c362e 47%,#a53829 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71271c', endColorstr='#a53829',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background: #23a0e7 !important;
  box-shadow: 0px 0px 28px rgba(0,0,0,0.3) !important;
  width: 327px;

}
.twilio-chat-section #closeChat{
 position:relative;
 top: -11px;
 border-radius:100%;
 padding:0px;
 width:30px;
 height:30px;
 left: -23px;
 background: #ff0000 !important;
 border-color: #ff0000 !important;
 font-weight: bold;
 font-size: 15px;
}
.twilio-chat-section #closeChat{

 padding:0px !important;
}
div#message-list .row {
    background: #f9f5f5;
    width: 100%;
    display: block;
    margin: 0px 0px 6px;
    border-radius: 5px;
    position:relative;
}
div#message-list .row div {
    /* padding: 0; */
    width: 100%;
    text-align: left;
    display: block;
    max-width: 100%;
    position: static;
}
#chat-window {
  background-color: #ffffff;
  height: 100%;
  padding: 20px;
}
.twilio-chat-section #container {
  height: 75vh;
}
.twilio-chat-section #header {
  margin: auto;
}
.twilio-chat-section #input-div {
   background-color: #fff;
   height: 5%;
   position: relative;
   bottom: 6px;
   flex-wrap: nowrap;
}
#typing-row {
  height: 3%;
  font-weight: lighter;
  font-size: small;
  color: #BBA0A1;
  vertical-align: bottom;
}
#typing-placeholder {
  height: 100%;
  padding-left: 10px;
}
.twilio-chat-section #message-list {
  overflow-y: scroll;
}
#message-list.connected {
  height: 92%;
  display: block;
}
#message-list.connected div{
 max-width:100%;
 width:100%;

}

#message-list.disconnected {
  height: 80%;
}
#connect-panel {
  height: 15%;
  background-color: #5B1913;
  text-align: center;
  color: #DEC4C3;
}
#connect-panel.connected, #typing-row.disconnected {
  display: none;
}
#connect-panel.disconnected, #typing-row.disconnected {
  display: block;
}
.twilio-chat-section #username-input {
  width: 70%;
  padding-left: 10px;
  height: 5vh;
  margin-left: 10px;
  margin-top: 10px;
  color: black;
}
.twilio-chat-section #input-text {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1%;
  height: 100%;
  width: 100%;
  background-color: #f9f5f5;
  color: #000;
  font-weight: 300;
  border: 0;
  resize: none;
  height: 33px;
  border-radius: 10px;
  box-shadow: none !important;
}
.twilio-chat-section #input-text:focus{
 box-shadow:none;
 outline:none; 
}
.twilio-chat-section .with-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.53);
  box-shadow: none;
}
#channel-panel {
  border-left: 1px solid #23a0e7;
  box-shadow: -1px 0px 0px 0px #23a0e7;
}
#channel-list {
  overflow-y: scroll;
  overflow-x: hidden;
}
#channel-list.showing {
  max-height: 75vh;
}
#channel-list.not-showing {
  max-height: 80vh;
}
#new-channel-input {
  background-color: #F8E6E4;
  color: #B0ADAE;
  border: 0;
  resize: none;
  height: 5vh;
}
#new-channel-input-row.not-showing {
  display: none;
}
#new-channel-input-row.showing {
  display: block;
}
.twilio-chat-section .own-message {
  background-color: #DDD3D2;
}
.twilio-chat-section .message-info-row {
  padding-top: 0.7vh;
  padding-bottom: 0.5vh;
}
.twilio-chat-section .message-body {
  word-break: break-all;
  text-align: justify;
  text-justify: inter-word;
  font-size: small;
  font-weight: 300;
  color: #000;
  font-size: 14px;
}
.twilio-chat-section .message-username {
  margin-left: 0;
  margin-bottom: 0;
  font-size: normal;
  font-weight: 400;
  color: #000;
  font-weight: bold;
  padding: 0 10px;
  line-height: 19px;
  font-size: 14px;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
}
.twilio-chat-section .message-date {
  margin-right: 0;
  margin-bottom: 0;
  font-weight: lighter;
  font-weight: normal;
  color: #afa7a7;
  font-size: 13px;
  padding: 0px 10px;
  width: auto;
  font-style: normal;
  position: absolute;
  right: 3px;
  top: 6px;
}
.no-margin {
  margin: 0;
}
#add-channel-image {
  padding-left: 20px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  height: 5vh;
  cursor: pointer;
}
.channel-element {
  width: 100%;
  height: 6vh;
  margin: 0;
  padding-left: 20px;
  line-height: 6vh;
  overflow: hidden;
  font-size: large;
}
.unselected-channel {
  color: #D47567;
}
.unselected-channel:hover {
  background-color: #F8E6E4;
  color: #753A35;
  cursor: pointer;
}
.selected-channel {
  background-color: #F8E6E4;
  color: #753A35;
}
.twilio-chat-section #logo-image {
  height: 3vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.twilio-chat-section #logo-column {
  text-align: center;
}
.right-align {
  text-align: right;
  padding: 0;
}
.left-align {
  text-align: left;
  padding: 0;
}
#status-span {
  color: #fff9f8;
  position: absolute;
  left: 12px;
  font-size: 14px;
  letter-spacing: 0.2px;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  display: inline-block;
  display: none;
}
#leave-span {
  cursor: pointer;
  color: #fff;
  /* margin-left: 1vh; */
  position: relative;
  left: -6px;
  background: #1e1e1f;
  padding: 5px 13px;
  font-weight: normal;
  border-radius: 29px;
  font-size: 14px;
  display: none;
}
#leave-span b{
 font-weight:normal;
}

#delete-channel-span {
  cursor: pointer;
  color: #370606;
}
#status-row {
  margin-bottom: 1vh;
}
#status-row.connected {
  visibility: visible;
  text-align: left;
  justify-content: flex-start;
}
#status-row.disconnected {
  visibility: hidden;
}
#connect-image {
  height: 5vh;
  margin-top: 1vh;
  cursor: pointer;
}
.member-status {
  padding: 5px;
  font-weight: 300;
  /* color: #C0A5A7; */
  text-align: center;
  /* border-top: 1px solid #BCA1A3; */
  /* border-bottom: 1px solid #BCA1A3; */
  margin: 10px 0;
  /* background: #2fadf5; */
  color: #000;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.twilio-chat-section #input-text {
  height: 43px;
  padding-top: 9px;
  overflow-y: auto;
}
.twilio-chat-section #input-div .add_new_button {
padding-top: 11px;
}
div#input-div .add_new_button {
height: 43px;
padding-top: 11px;
}

div#input-div .add_new_button {
height: 43px;
padding-top: 11px;
}

@media(max-width:767px){
 .twilio-chat-section {
  position: fixed;
  right: 0;
  bottom: 16px;
  z-index: 5555555;
  background: #71271c; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #71271c 0%, #7c362e 47%, #a53829 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #71271c 0%,#7c362e 47%,#a53829 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #71271c 0%,#7c362e 47%,#a53829 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71271c', endColorstr='#a53829',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background: #23a0e7 !important;
  box-shadow: 0px 0px 28px rgba(0,0,0,0.3) !important;
  width: 327px;
  left: 0;
  margin: 0 auto;
} 
}

.chat_unavailable{
  height: 100%;
align-items: center;
justify-content: center;
text-align: center;
}
.chat_available{
 height:100%
}